.nav {
  display: flex;
  justify-content: space-between;
  border-block-end: 0.15rem solid;
  writing-mode: horizontal-tb;
}
.title-name {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  padding-left: 2rem;
}
.proj-res-click {
  font-weight: 300;
  font-size: 2rem;
  padding-right: 2rem;
  word-spacing: 2rem;
  color: #39508c;
}

.main {
  display: flex;
  padding: 10%;
  font-size: 2rem;
  justify-content: space-evenly;
}

.intro-quote {
  display: flex;
  align-items: center;
  max-width: 25rem;
  padding: 3rem;
}

.my-photo {
  width: 300px;
  border-radius: 200px;
}

.proj-section {
  display: flex;
  justify-content: space-between;
  border-block-end: 0.15rem solid;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 2rem;
}

.social-links {
  display: flex;
  gap: 10px;
}

.social-img {
  width: 50px;
}
